@model IEnumerable<Adarsh.EmployeeCRM.Web.Models.Employee>

@{
    ViewBag.Title = "Index";
}



<p class=" span p-5">
    <button class="btn btn-outline-dark">
        @Html.ActionLink("Create New", "Create")
     </button>
   
    <form method="post" action="~/Employees/Upload" enctype="multipart/form-data">
        <input required type="file"/>
        <button type="submit" class="btn btn-outline-dark">Import CSV File</button>
    </form>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Picture != "")
            {
                <a href="~/Uploads/@item.Picture" target="_blank">
                    <img src="~/Uploads/@item.Picture" style="height:100px;width:100px" />
                </a>
            }
            else
            {
                <a href="~/Uploads/cat.jpg" target="_blank">
                    <img src="~/Uploads/cat.jpg" style="height:100px;width:100px" />
                </a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
