<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head",required:false)
    @Styles.Render("~/css/bootstrap")
    @Scripts.Render("~/js/bootstrap")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
